@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Отправка команды не терминал</h3>
    <div>
        <form>
            <label>ID Терминала(ов)</label>

            <input class="disabled"/>
            <label>Команда</label>
            <input placeholder="Выберите команду" type="search"/>

            <button>Назад</button>
            <button>Отправить</button>
        </form>
        <table id="data-table"></table>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
            $.ajax({
                url: '/get-command-types',
                type: 'GET',
                success: function(data) {
                    if(data) {
                        // Если данные успешно получены, заполняем таблицу
                        var table = '<tr><th>ID</th><th>Название</th><th>Параметр 1</th><th>Параметр 2</th><th>Параметр 3</th><th>Статус</th></tr>';
                        data.items.forEach(function(item){
                            table += '<tr><td>' + item.id + '</td><td>' + item.name + '</td> + <td>' + item.parameter_name1 + '</td> + <td>' + item.parameter_name2 + '</td>+ <td>' + item.parameter_name3 + '</td>+ <td>' + 'Не отправлено' + '</td></tr>';
                        });
                        $('table').html(table);
                    } else {
                        $('table').html('<tr><td colspan="2">Данные не найдены</td></tr>');
                    }
                },
                error: function(xhr, status, error) {
                    console.log('Ошибка при получении данных с сервера');
                    $('table').html('<tr><td colspan="5">Ошибка при получении данных с сервера</td></tr>');
                }
            });
    </script>

</div>